.defalut{
  width: 35px;
  height: 35px;
  background: blue;
  border-radius: 100%;
  position: absolute;
  top: 1.2%;
  right: 5%;
  transition: all .5s;
  z-index: 1101;
}



.big{
  
  top: 0%;
  right: 0%;
  z-index: 1101;
  height: 100%;
  width: 100%;
  background: blue;
  border-radius: 0;
  position: absolute;
  transition: all .5s;
}